<div class="modal" id="notificationModal" tabindex="-1" role="dialog" aria-labelledby="notificationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="notificationLabel">Cargando Llamadas</h4>
            </div>
            <div class="modal-body" id="notificationPreview">
                <p>Cargando mensaje…</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-target="#notificationModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" class="btn btn-danger" id="closeModal">Continue</button>
            </div>
        </div>
    </div>
</div>
