@{
    ViewBag.Title = "Manage";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <h4>@ViewBag.Reporte settings</h4>
            <hr />

            <ul class="nav nav-tabs" role="tablist" id="accountTab">
                <li class="active"><a href="#parameters" role="tab" data-toggle="tab">Parameters</a></li>
                <li><a href="#linkedAccounts" role="tab" data-toggle="tab">Data</a></li>
                <li><a href="#ChangePassword" role="tab" data-toggle="tab">Export</a></li>
            </ul>

            <div class="tab-pane active" id="parameteres">
                <div class="container">
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker6'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date' id='datetimepicker7'>
                                <input type='text' class="form-control" />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

       </div>
    </div>
</div>
